<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>TEST</title>

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script type="text/javascript" src="./dist/angular-extends.js"></script>
    </head>
    <body ng-controller="TestCtrl">
        <h1>Directives:</h1>
        <div><b>Count-To:</b> <span ex-count-to="10000" value="0" duration="1"></span></div>
        <div><b>Dom-Init:</b> <span ex-dom-init="msg = 'initialized'">{{msg}}</span></div>
        <div>
            <label for="test1"><b>Focus-Me</b></label>:
            <input type="text" id="test1" ex-focus-me="focus"/>
            <button ng-click="doFocus()">Focus</button>
        </div>
        <div>
            <label for="test2"><b>Lower</b></label>: <input type="text" id="test2" ng-model="lowerString" ex-lower/>
        </div>
        <div>
            <label for="test3"><b>Upper</b></label>: <input type="text" id="test3" ng-model="upperString" ex-upper/>
        </div>
        <div>
            <b>Repeat-Done:</b> <span ng-repeat="a in alphabets" ex-repeat-done="testRepeatDone">{{a}}</span>
        </div>
        <div>
            <div style="float:left"><b>Rotate2d:</b></div>
            <div style="float:left; margin-left: 5px; border: 2px #000000 solid; width: 10px; height: 10px;" ex-rotate2d="rotate" limit="100"></div>
            <div style="clear:both;"></div>
        </div>
        <hr/>

        <h1>Filters:</h1>
        <h3>Arrays:</h3>
        <div><b>MakeArray:</b> <span ng-non-bindable>{{'test' | makeArray}}</span> = <span>{{'test' | makeArray}}</span></div>
        <div><b>Range:</b> <span ng-non-bindable>{{'a'|range:'z'}}</span> = <span>{{'a'|range:'z'}}</span></div>
        <div><b>Join:</b> <span ng-non-bindable>{{'a' | range:'z' | join:'-'}}</span> = <span>{{'a' | range:'z' | join:'-'}}</span></div>
        <div>
            <div><b>Combine:</b></div>
            <pre>
                <span ng-non-bindable>{{'a' | range:'z' | combine}}</span> = <span>{{'a' | range:'z' | combine}}</span>
                <span ng-non-bindable>{{'1' | range:'9' | combine:'=integer'}}</span> = <span>{{'1' | range:'9' | combine:'=integer'}}</span>
                <span ng-non-bindable>{{['1.1', '1.2', '1.3'] | combine:'=float'}}</span> = <span>{{['1.1', '1.2', '1.3'] | combine:'=float'}}</span>
                <span ng-non-bindable>{{[{a:1}, {a:2}, {a:3}] | combine:'a'}}</span> = <span>{{[{a:1}, {a:2}, {a:3}] | combine:'a'}}</span>
                <span ng-non-bindable>{{[{a:1}, {a:2}, {a:3}] | combine:combineTransform}}</span> = <span>{{[{a:1}, {a:2}, {a:3}] | combine:combineTransform}}</span>
            </pre>
        </div>
        <div>
            <div><b>Limit:</b></div>
            <pre>
                <span ng-non-bindable>{{'a'|range:'z' | limit:1:10}}</span> = <span>{{'a'|range:'z' | limit:1:10}}</span>
                <span ng-non-bindable>{{'a'|range:'z' | limit:2:10}}</span> = <span>{{'a'|range:'z' | limit:2:10}}</span>
            </pre>
        </div>
        <div>
            <div><b>Trim:</b></div>
            <pre>
                <span ng-non-bindable>[{{'   a   ' | trim}}]</span> = <span>[{{'   a   ' | trim}}]</span>
                <span ng-non-bindable>{{['   a   ', '  b', 'c  '] | trim}}</span> = <span>{{['   a   ', '  b', 'c  '] | trim}}</span>
            </pre>
        </div>

        <h3>Strings:</h3>
        <div>
            <b>TrustAsHtml:</b>
            <span ng-non-bindable>&lt;span ng-bind-html="'&lt;span style=\'border: 1px red solid;\'&gt;test&lt;/span&gt;' | trustAsHtml"&gt;&lt;/span&gt;</span> =
            <span ng-bind-html="'<span style=\'border: 1px red solid;\'>test</span>' | trustAsHtml"></span>
        </div>
        <div>
            <b>TrustAsJs:</b>
            <span ng-non-bindable>&lt;span ng-bind="{{'1 + 1' | trustAsJs}}"&gt;&lt;/span&gt;</span> =
            <span ng-bind="{{'1 + 1' | trustAsJs}}"></span>
        </div>
        <div>
            <div><b>TrustAsResourceUrl:</b></div>
            <span ng-non-bindable>&lt;iframe width="560" height="315" ng-src="{{'http://www.youtube.com/embed/4wOoLLDXbDY' | trustAsResourceUrl}}" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</span> =
            <iframe width="560" height="315" ng-src="{{'http://www.youtube.com/embed/4wOoLLDXbDY' | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
            <b>TrustAsUrl:</b>
            <span ng-non-bindable>&lt;a ng-href="{{'http://www.naver.com' | trustAsUrl}}" target="_blank"&gt;Click!&lt;/a&gt;</span> =
            <a ng-href="{{'http://www.naver.com' | trustAsUrl}}" target="_blank">Click!</a>
        </div>
        <div>
            <b>Replace:</b>
            <pre>
                <span ng-non-bindable>{{'axaxa' | replace:'x':'-'}}</span> = <span>{{'axaxa' | replace:'x':'-'}}</span>
                <span ng-non-bindable>{{'axaxa' | replace:'x':'-':'g'}}</span> = <span>{{'axaxa' | replace:'x':'-':'g'}}</span>
            </pre>
        </div>
        <div>
            <b>Nl2br:</b>
            <span ng-non-bindable>&lt;span ng-bind-html="'\na\nb\nc' | nl2br | trustAsHtml"&gt;&lt;/span&gt;</span> =
            <span ng-bind-html="'\na\nb\nc' | nl2br | trustAsHtml"></span>
        </div>
        <div>
            <b>Br2nl:</b>
            <span ng-non-bindable>&lt;span ng-bind-html="'&lt;br/&gt;a&lt;br/&gt;b&lt;br/&gt;c' | br2nl | trustAsHtml"&gt;&lt;/span&gt;</span> =
            <span ng-bind-html="'<br/>a<br/>b<br/>c' | br2nl | trustAsHtml"></span>
        </div>
        <div>
            <b>Space2nbsp:</b>
            <span ng-non-bindable>&lt;span ng-bind-html="'[     ]' | space2nbsp | trustAsHtml"&gt;&lt;/span&gt;</span> =
            <span ng-bind-html="'[     ]' | space2nbsp | trustAsHtml"></span>
        </div>
        <div>
            <b>Nbsp2space:</b>
            <span ng-non-bindable>{{'[&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;]' | nbsp2space}}</span> =
            <span>{{'[&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;]' | nbsp2space}}</span>
        </div>
        <div>
            <b>Split:</b>
            <span ng-non-bindable>{{'a-b-c-d-e' | split:'-'}}</span> =
            <span>{{'a-b-c-d-e' | split:'-'}}</span>
        </div>
        <div>
            <b>Cutstring:</b>
            <span ng-non-bindable>{{'a'|range:'z' | join:'' | cutstring:10}}</span> =
            <span>{{'a'|range:'z' | join:'' | cutstring:10}}</span>
        </div>
        <div>
            <b>Roundcutstring:</b>
            <span ng-non-bindable>{{'a'|range:'z' | join:'' | roundcutstring:'mno':20}}</span> =
            <span>{{'a'|range:'z' | join:'' | roundcutstring:'mno':20}}</span>
        </div>

        <script type="text/javascript">
            function TestCtrl($scope, $timeout, $interval) {
                $scope.focus = false;
                $scope.doFocus = function(){
                    $scope.focus = true;
                    $timeout(function(){
                        $scope.focus = false;
                    }, 2000);
                };
                $scope.lowerString = '';
                $scope.upperString = '';
                $scope.alphabets = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];
                $scope.testRepeatDone = function(elem){
                    elem.text(elem.text() + '!');
                };
                $scope.rotate = 0;
                $interval(function(){
                    if ($scope.rotate >= 100)
                        $scope.rotate = 0;
                    else
                        $scope.rotate++;
                }, 100);
                $scope.combineTransform = function(o){ return o.a; };
            }
            angular.module('app', ['ngExtends']).controller('TestCtrl', TestCtrl);
            angular.bootstrap(document.body, ['app']);
        </script>
    </body>
</html>
